{% extends "gridApp/base.html" %}

{% block title %}Add New Employee Records{% endblock title %}

{% block content %}
<div class="col-md-12">
    <h4>Django CRUD (Create Read Update Delete) Example - Bootstrap Datatable GRID</h4>
 <form method="POST" class="post-form" action="/update/{{employee.id}}">
   {% csrf_token %}
  <div class="container">
 <br>
  <div class="form-group row">
  <label class="col-sm-1 col-form-label"></label>
  <div class="col-sm-4">
  <h3>Update Details</h3>
  </div>
   </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label">Employee Id:</label>
  <div class="col-sm-4">
   <input type="text" class="form-control" name="id" id="id_id" required maxlength="20" value="{{ employee.id }}"/>
  </div>
   </div>
   <div class="form-group row">
  <label class="col-sm-2 col-form-label">Employee Name:</label>
  <div class="col-sm-4">
   <input type="text" class="form-control" name="name" id="id_name" required maxlength="100" value="{{ employee.name }}" />
  </div>
   </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label">Employee Email:</label>
  <div class="col-sm-4">
   <input type="email" class="form-control" name="email" id="id_email" required maxlength="254" value="{{ employee.email }}" />
  </div>
   </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label">Employee Contact:</label>
  <div class="col-sm-4">
   <input type="text" class="form-control" name="contact" id="id_contact" required maxlength="15" value="{{ employee.contact }}" />
  </div>
   </div>
  <div class="form-group row">
  <label class="col-sm-1 col-form-label"></label>
  <div class="col-sm-4">
  <button type="submit" class="btn btn-success btn-lg">Update</button>
  </div>
   </div>
  </div>
 </form>
{% endblock content %}
